/* Main Content */
.main-content {
    display: flex;
    flex-direction: column;
    width: 95%;
    background-color: #0066ff47;
    backdrop-filter: blur(40px);
    margin-top: 50px;
    border-radius: 15px;
}
/* ------------------------------------------------------------------------------ */
/* Main Content */
.n-main-content {
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: "header img";
    align-items: center;
}
/* ------------------------------------------------------------------------------ */
/* Header */
.n-header {
    grid-area: header;
    width: 100%;
    margin-left: 40px;
    position: relative;
    bottom: 10%;
}
.n-header-title {
    color: white;
    font-family: 'Exo', sans-serif;
    font-size: 102px;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 0;
    cursor: default;
}
.n-header-title img {
    margin-bottom: 20px;
}
.n-header-text {
    margin-bottom: 20px;
    color: white;
    font-family: 'Exo', sans-serif;
    font-size: 42px;
    font-weight: 400;
    line-height: normal;
    cursor: default;
}
.n-header-img {
    grid-area: img;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.n-mail-get {
    padding: 15px 25px;
    background-color: transparent;
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
    border: 2px solid white;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    transition: 0.5s 0s linear;
    overflow: hidden;
    cursor: pointer;
}
.n-mail-get::before, .n-mail-get::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: #0096C7;
    transition: 1s 0s ease;
}
.n-mail-get::before {
    top: -20px;
    left: -20px;
}
.n-mail-get::after {
    left: calc(100% + 25px);
    top: calc(100% + 25px);
}
.n-mail-get:hover::before, .n-mail-get:hover::after {
    height: 1410px;
    width: 1410px;
}
.n-mail-get:hover {
    color: #ffffff;
}
.n-mail-get:active {
    filter: brightness(.8);
}
/* ------------------------------------------------------------------------------ */
/* What Content */
.what-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    background-color: #0066ff47;
    backdrop-filter: blur(30px);
    padding: 20px;
    border-radius: 15px;
}
.n-what-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.what-row {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
.what {
    flex: 1 1 30%;
    text-align: center;
}
/* ------------------------------------------------------------------------------ */
.what-title-content {
    font-size: 52px;
    font-weight: 700;
    color: white;
}
.what-title {
    font-size: 42px;
    font-weight: 600;
    color: white;
}
.what-text {
    font-size: 26px;
    font-weight: 100;
    color: white;
}
/* ------------------------------------------------------------------------------ */
/* How Content */
.how-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 95%;
    background-color: #0066ff47;
    backdrop-filter: blur(20px);
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 15px;
}
.n-how-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.how-row {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
.how {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    gap: 5px;
}
/* ------------------------------------------------------------------------------ */
.how-title-content {
    font-size: 52px;
    font-weight: 700;
    color: white;
}
.how-img {
    width: 100%;
    border: 2px white solid;
    border-radius: 10px;
}
.how-text {
    font-size: 26px;
    font-weight: 100;
    color: white;
}
.how-text a {
    font-weight: 700;
    text-decoration: none;
    color: #2d343daf;
    transition: 0.2s 0s linear;
}
.how-text a:hover {
    font-weight: 700;
    text-decoration: none;
    color: #2d343d;
}