/* Default */
@media (max-width: 1679px) {
    .main-content {
        height: auto;
    }
}
@media (max-width: 520px) {
    .n-nav-list li {
        display: none;
    }
    .nav-item {
        display: block !important;
    }
    .nav-item li {
        display: block;
    }
}
/* ----------------------------------- */
/* Home Media */
@media (min-width: 769px) and (max-width: 1024px) {
    .n-main-content {
        grid-template-columns: 60% 37%;
        grid-template-rows: 100%;
        grid-template-areas: "header img";
        gap: 20px;
    }
    .n-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: unset;
        height: 100%;
        margin-left: 10px;
    }
    .n-header-title {
        font-size: 82px;
    }
    .n-header-text {
        font-size: 34px;
    }
    .n-header-img {
        height: 115%;
    }
    .n-header-img img {
        width: 100%;
        height: 100%;
    }

    .n-mail-get {
        width: 40%;
        margin-bottom: 30px;
    }

    .what {
        flex: 1 1 100%;
    }
}
@media (max-width: 768px) {
    .n-main-content {
        grid-template-columns: 100%;
        grid-template-rows: 38% 62%;
        grid-template-areas:
            "img"
            "header";
        gap: 20px;
    }
    .n-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: unset;
        height: 100%;
        margin-left: 10px;
    }
    .n-header-title {
        font-size: 82px;
    }
    .n-header-text {
        font-size: 34px;
    }
    .n-header-img {
        height: 110%;
    }
    .n-header-img img {
        width: 100%;
        height: 100%;
    }
    .n-mail-get {
        width: 50%;
    }

    .how-title-content {
        font-size: 32px;
    }
    .what {
        flex: 1 1 100%;
    }

    .how-row {
        flex-wrap: wrap;
    }
    .how {
        flex-grow: 1;
    }
}
@media (max-width: 520px) {
    .n-header-title {
        font-size: 52px;
    }
    .n-header-text {
        font-size: 24px;
    }

    .n-mail-get {
        width: 95%;
    }

    .what-title {
        font-size: 30px;
    }
    .what-text {
        font-size: 20px;
    }

    .footer-ul-li {
        text-align: start;
    }
}
/* ----------------------------------- */
/* Nook Mails Media */
@media (min-width: 769px) and (max-width: 1024px) {
    .e-aside {
        width: 280px;
    }
    .e-aside-title {
        font-size: 24px;
    }
    .e-inbox {
        width: calc(100% - 280px);
    }
    .e-inbox-refresh {
        padding: 5px 10px;
        font-size: 20px;
    }
    .e-inbox-nav p, .mail-time, .mail-time-limit {
        font-size: 25px;
    }
}
@media (min-width: 769px) and (max-width: 850px) {
    .e-inbox-nav p, .mail-time, .mail-time-limit {
        font-size: 20px;
    }
}
@media (max-width: 768px) {
    .e-aside {
        display: block;
        width: 100%;
    }
    .open-phone {
        display: block;
    }
    .offcanvas {
        display: block;
    }

    .e-inbox {
        width: 100%;
    }
    .e-flex {
        gap: 50px;
    }
    .e-inbox-nav p, .mail-time, .mail-time-limit {
        font-size: 25px;
    }
    #e-inbox-open {
        width: 85%;
    }
}
@media (max-width: 640px) {
    .e-inbox-refresh {
        display: none;
    }
    .e-inbox-nav p, .mail-time, .mail-time-limit {
        font-size: 22px;
    }
}
@media (max-width: 400px) {
    .open-phone {
        top: 10%;
    }
    .e-inbox-nav {
        flex-direction: column;
        height: 80px;
        gap: 0;
    }
    .e-inbox-nav p, .mail-time, .mail-time-limit {
        font-size: 20px;
    }
}
/* ----------------------------------- */
/* Team */
@media (min-width: 1281px) and (max-width: 1679px) {
    .t-main-content {
        justify-items: center;
        grid-template-columns: 27% 73%;
    }
}
@media (min-width: 769px) and (max-width: 1280px) {
    .t-main-content {
        justify-items: center;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "img img"
        "list title"
        "text text"
        "exp exp";
    }
    .t-img {
        width: 250px;
        height: 250px;
        margin-left: 0;
    }
    .t-contact {
        grid-area: list;
        width: 100%;
    }
    .t-title {
        width: 100%;
        margin-top: 0;
        font-size: 28px;
        text-align: center;
    }
    .t-text {
        font-size: 20px;
        padding: 20px;
    }
    .t-exp {
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 768px) {
    .t-main-content {
        justify-content: normal;
        justify-items: center;
        grid-template-columns: 100%;
        grid-template-areas:
            "img"
            "title"
            "text"
            "exp";
    }
    .t-img {
        width: 250px;
        height: 250px;
        margin-left: 0;
    }
    .t-contact ul {
        display: none;
    }
    .t-title {
        margin-top: 0;
        text-align: center;
        font-size: 32px;
    }
    .t-text {
        font-size: 20px;
        text-align: center;
    }
    .t-exp {
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 520px) {
    .t-title {
        font-size: 26px;
    }
    .t-text {
        font-size: 17px;
        text-align: center;
    }
    .t-exp {
        font-size: 26px;
    }
}
/* ----------------------------------- */
/* Contect */
@media (max-width: 1679px) {
    .c-text-info {
        margin-bottom: 50px;
    }
}
@media (max-width: 480px) {
    #c-form {
        width: 320px;
    }
}
@media (max-width: 340px) {
    #c-form {
        width: 280px;
    }
}